Package: radxa-welcome
Version: 0.0.1
Architecture: all
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Installed-Size: 346
Depends: python3, python3-gi, libgtk-4-1, libadwaita-1-0, python3-pyrunning, python3-pysetting, dconf-gsettings-backend | gsettings-backend
Section: utils
Priority: standard
Description: Welcome application written in GTK4
 Includes links to useful resources for users.
